

table {

    width: 500px;
    height: 550px; 
    border-collapse: collapse; 
    border: 20px solid #fff; 

   }

td {

	border: 10px solid #000; 

}

.red {

	background: #f00;

}

.yellow {

	background: #ff0;

}

.blue {

	background: #00f;

}

.black {

	background: #343434;
	
}