* {
	font-family: Tahoma;
}
body {
	background: url(../img/background1.png) repeat;
	
}

.wrapper {
	margin:0 auto;
	width: 1000px;
    background-color: white;
    box-shadow: 0px 2px 8px 1px;
 }



/*HEADER*/
header {
    position: relative;
	width: 1000px;
	height: 175px;
    font-size: 12px;
	line-height: 16px;
	color: white;
}
.logo {
	float: left;
	height: 175px;

}
.contakts {
    color: #128aa7;
    float: right;
    padding:10px 36px 0 0;

}
.contakts li:first-child{
	font-weight: bold;
}

.countries {
	clear: right;
	float: right;
	padding: 36px 36px 0 0;
}
.countries li {
	display: inline-block;
	margin-left: 10px;

}
.countries a {
	font-size: 10px;
	line-height: 12px;
	text-align: center;
}
.countries li a {
	color: #128aa7;
}
.header:after {
    content: "";
    clear: both;
    display: block;
}
/*FOTO*/

.image img {
	display:block;
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
}

/*MENU*/

.menu{
  background: #333333;
  height: 30px;
  box-shadow: 0px 4px 6px -1px #000000;
  position: relative;
  z-index: 1;
  border-top: 1px solid white;
  border-bottom: 1px solid black;
}
.menu :after {
    content: "";
    clear: both;
    display: block;
}
.menu a{
  color: #ffffff;
  text-decoration: none;
  line-height: 1.5;
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 5px;
}
.menu .symbol{
  font-size: 8px;
  vertical-align: middle;
  padding: 5px;
}
.menu li{
  float: left;
  height: 30px;
  width: 140px;
  cursor: pointer;
  position: relative;
}
.menu li ul{
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
  margin: 0;
  width: 140px;
  background: #333333;
  box-shadow: 0px 4px 6px -1px #000000;
  border-top: 1px solid black;
}
.menu li:hover ul{
  display: block;
}

}
/*CONTENT*/
.content {
	background: white;
	display: block;
	width: 1000px;
	overflow: hidden;
}

.content:after {
    content: "";
    clear: both;
    display: block;
}

h2 {
	font-size: 18px;
	line-height: 30px;
	color: #424c43;
	font-weight: bold;
}

.left_box {
	float: left;
	display: inline-block;
	width: 21%;
	padding-bottom: 20000px;
    margin-bottom: -20000px;

	background: #edeef0;
	line-height: 1.5;
	text-align: center;
	color: #424c43;
	border-right: 1px solid #cccccc;

}

.center_box {
	float: left;
	display: inline-block;
	width: 58%;
	padding-bottom: 20000px;
    margin-bottom: -20000px;
    background: white;
}

.right_box {
	float: right;
	display: inline-block;
	width: 21%;
	padding-bottom: 20000px;
    margin-bottom: -20000px;

	background: #edeef0;
	line-height: 1.5;
	text-align: center;
	color: #424c43;
	border-left: 1px solid #cccccc;

}


/*FOOTER*/
.footer {
	clear: both;
	margin: 10px 0;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: #fff;	
}