

body{ 
	background-color: paleturquoise;
}
div{  
	background-color: white;
    margin: 0px 450px 0px 450px;
    padding: 10px 15px 10px 15px;
    box-shadow: 0 0 30px;

}
p{
	font-weight: bold;
}
.my_img{
	text-align: center;
}
.name{
    color: deepskyblue;
	font-family: Geneva;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.info{
	text-align: center;
	line-height: 20px;
	
}

.letter{
	color: deepskyblue;
}
a{
	color: deepskyblue;
}
a:hover {
    text-decoration: none; /* Убираем подчеркивание */
    color: black; /* Цвет ссылки при наведении на нее курсора мыши */  
    background: paleturquoise; /* Цвет фона */
   }
.quote {
	font-style: italic;
}
.avt {
	font-style: italic;
	text-align: right;
}


