body {
  margin: 0;
  padding: 0;
  list-style: none;

}
.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

#slider1 { 
margin-left: 200px;

}

.select {
  float: left;
  margin-left: 20px;
  padding-bottom: 50px;
}

/*Чекбоксы:*/
.main {
  float: left;
  padding-left: 30px;

}

.niceCheck {

  width: 17px;
  height: 17px;
  display: inline-block;
  cursor: pointer;
  background: url(../img/checkbox.png);
  overflow: hidden;

}

.niceChecked {
  background-position: 0 -17px;

}
.niceCheck input {
 margin-left: -100px; /* можно задать побольше чтобы наверняка скрыть поле */

}

.niceCheckDisabled {
   background-image: url(path-to/checkbox-disabled.png);
}

.main2css {
  float: left;
  padding-left: 30px;
}

.main2css input[type=checkbox] {
position: absolute;
clip: rect(0, 0, 0, 0);
}

.main2css label {
 cursor: pointer;
}

.main2css label:after {
content: " ";
display: inline-block;
width: 17px;
  height: 17px;
  background: url(img/checkbox-2.png);
  position: relative;
 top: 3px;
 margin-left: 15px;

}

.main2css input[type=checkbox]:checked + label:after {

background-position: 0 -17px;

}

.main2css label:hover:after {
background-position: 0 -34px;

}

.main2css input[type=checkbox]:checked + label:hover:after {
background-position: 0 -51px;
}

/*Выпадающее меню:*/
 #nav{
  margin-top: 100px;
  position: relative;
  z-index: 2;
  background-color: #D2B48C;
}
ul {
  list-style: none;
}

#nav ul {

  list-style-type: none;
}

.menu-item {
  float: left;

}







.menu a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: black;
}




.submenu {
    display: none;
    position: absolute;  
}

.dropdown,
.dropdown-right {
    position: relative;
}

.dropdown:after {
    content: "";
    position: absolute;
    top: 23px;
    right: 10px;
    transition: 0.3s;
}

.dropdown:hover:after{
    top: 15px;
    transform: scaleY(-1);
}

.dropdown-right:after {
    content: "";
    position: absolute;
    top: 20px;
    right: 0px;
    transition: 0.3s;
}

.dropdown-right:hover:after{
  right: 7px;
  transform: scaleX(-1);
}



